html {
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    background-color: #000;
    height: 100%;
}

p {
    line-height: 200%;
}

#hero {
    justify-content: center;
    align-items: center;
    text-align: center;   
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:link {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
}

nav {
    border-right: 2px solid antiquewhite;
    height: 100%;
}

#nav {
    padding-top: 2em;
    line-height: 120px;
}

#horizontal-divider {
    width: 100%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
}

.internal-padding {
    padding: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-content{
    float: right;
    width: 80%;
}

main {
    padding-top: 2em;
    width: 1000px;
    margin: auto;
}

footer {
  position: static;
  padding: 0;
  bottom: 0;
  width: 100%;
}

footer p {
    text-align: center;
    
}

#flame {
    width: 250px;
}

canvas {
    display: block;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bullet {
    margin: 0;
    padding: 0;
    display: inline;
}

#project-div {
    display: flex;
    gap: 4em;
}

.project-col {
    flex: 40%
}

.project-item {
    padding: 1em;
    border-radius: 5px;
    border: #fff 1px solid;
}

#about-contact {
    margin-bottom: 4em;
}

#contact li{
    height: 40px;
    margin-bottom: 40px;
}

#contact img {
    width: 40px;
    vertical-align: -30%;
}

#profile-pic {
    width: 100%;
    margin: auto;
    display: block;
    border-radius: 5px;
    border: #fff 1px solid;
}